@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #111;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden; /* Prevent scrolling */
  width: 100vw;
  height: 100vh;
}

/* Ensure Next.js root div takes full height */
#__next, main {
  width: 100%;
  height: 100%;
}
